selenium
chromedriver-autoinstaller
pyyaml
aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
httpx==0.27.2
motor==3.3.1
numpy==1.26.4
opencv-python==4.10.0.84
pillow==10.4.0
psutil
tgcrypto
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
py-tgcalls==2.2.8
pykeyboard
python-dotenv
requests
speedtest-cli
spotipy
unidecode
uvloop; sys_platform != 'win32'
yt-dlp
youtube-search
youtube-search-python
certifi
